table, th, td {
    border: 1px solid black;
    }
    #logbtn 
    {
        padding: 3px;
        display:block;
        background-color: #ad2d2d;
        color: rgb(235, 240, 233);
        text-align:center;
        position: absolute;
        top: 35px;
        right: 1px;

    }